{% extends 'base.html.twig' %}

{% block title %}New Cv{% endblock %}

{% block body %}
    <h1>Create new Cv</h1>

     {{ form_start(cvForm) }}

        <br>
                    <br>

                    {{ form_label(cvForm.cv_candidat) }}       
                    <br>
                    {{ form_widget(cvForm.cv_candidat) }}        
        <br>
                    <br>

                    {{ form_label(cvForm.user) }}       
                    <br>
                    {{ form_widget(cvForm.user, {"disabled": true}) }}        
        <br>
                    <br>

                    {{ form_label(cvForm.categorie) }}       
                    <br>
                    {{ form_widget(cvForm.categorie) }}        
        <br>
                    <br>

                   {{ form_end(cvForm) }}


    <a href="{{ path('app_admin_cv_index') }}">back to list</a>
{% endblock %}
